<style>
    
</style>

<!-- Nav tabs -->
<ul id="exportTab" class="nav nav-tabs">
    <li class="jobTab">        
        <a href="#home" data-toggle="tab"><i class="fa fa-check-square-o" data-check="1"></i> Home</a>
    </li>
    <li class="jobTab">
        <a href="#profile" data-toggle="tab"><i class="fa fa-square-o" data-check="0"></i> Profile</a>
    </li>
    <li class="jobTab">
        <a href="#messages" data-toggle="tab"><i class="fa fa-square-o" data-check="0"></i> Messages</a>
    </li>
    <li class="jobTab">
        <a href="#settings" data-toggle="tab"><i class="fa fa-square-o" data-check="0"></i> Settings</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade active" id="home">aaa</div>
    <div class="tab-pane fade" id="profile">bbb</div>
    <div class="tab-pane fade" id="messages">ccc</div>
    <div class="tab-pane fade" id="settings">...</div>
</div>

<script>
    $(function(){        
        /*
         * toggle 'home' tab when init and then listen to each tab of 'ul#exportTab' when clicked
         */
        $('#exportTab a[href="#home"]').tab('show').closest('ul').find('li a').each(function(){
            $(this).click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
        
        /*
         * seperate <i> from parent <a> to listen event on <i> hovered or clicked
         */
        $('li.jobTab i').on('click mouseenter mouseleave', function(e){
            if (e.type == 'click'){
                if ($(this).attr('data-check') == 1){
                    $(this).removeClass('fa-check-square-o').addClass('fa-square-o').attr('data-check', 0);
                }else{
                    $(this).removeClass('fa-square-o').addClass('fa-check-square-o').attr('data-check', 1);
                }
                return false;
            }
        });
        
        
        
    });    
    
</script>
